[submodule "projects/cote"]
	path = projects/cote
	url = https://github.com/ivh-ai/cote.git
[submodule "projects/mathsprint"]
	path = projects/mathsprint
	url = https://github.com/ivh-ai/mathsprint.git
[submodule "projects/habit-tracker"]
	path = projects/habit-tracker
	url = https://github.com/ivh-ai/habit-tracker.git
[submodule "projects/job-search-tracker"]
	path = projects/job-search-tracker
	url = https://github.com/ivh-ai/job-search-tracker.git
[submodule "projects/formula-one-explorer"]
	path = projects/formula-one-explorer
	url = https://github.com/ivh-ai/formula-one-explorer.git
